<mat-toolbar color="primary">
   <mat-toolbar-row>
      <ns-icon-default *ngIf="isNavigationVisible"
                       [icon]="menuIcon"
                       class="menu-icon"
                       (click)="handleMenuOpened()">
      </ns-icon-default>

      <div class="title-block">
         <div class="title-block-item">{{toolbarTitle}}</div>
         <div class="title-block-item sub-title">{{version}}</div>
      </div>

      <div class="header-items">
         <ng-template ngFor
                      [ngForOf]="headerItems"
                      let-headerItem>
            <ng-container [ngTemplateOutlet]="headerItem.template"></ng-container>
         </ng-template>
      </div>
   </mat-toolbar-row>
</mat-toolbar>
