<mat-toolbar color="primary">
   <mat-toolbar-row>
      <ns-icon-default *ngIf="isNavigationVisible"
                       [icon]="menuIcon"
                       class="menu-icon"
                       (click)="handleMenuOpened()">
      </ns-icon-default>

      <span class="title-block">
         <span>{{toolbarTitle}}</span>
         <span class="sub-title">{{version}}</span>
      </span>

      <div class="header-items">
         <ng-template ngFor
                      [ngForOf]="headerItems"
                      let-headerItem>
            <ng-container [ngTemplateOutlet]="headerItem.template"></ng-container>
         </ng-template>
      </div>
   </mat-toolbar-row>
</mat-toolbar>
