mat-toolbar-row
  display: flex

  > *
    flex: 0 0

  .menu-icon
    margin-right: 10px
    cursor: pointer

  .title-block
    line-height: normal
    flex: 1 1 0
    overflow-x: hidden

    .title-block-item
      text-overflow: ellipsis
      overflow-x: hidden

    .sub-title
      font-size: 13px
      font-weight: 300

  .header-items
    height: 100%
    margin-left: auto
    display: flex
    align-items: center

    > ::ng-deep *
      display: inline-flex
      margin-left: 10px
