mat-toolbar-row
  display: flex

  > *
    flex: 0 0

  .menu-icon
    margin-right: 10px
    cursor: pointer

  .header-items
    height: 100%
    margin-left: auto
    display: flex
    align-items: center

    > ::ng-deep *
      display: inline-flex
      margin-left: 10px
