<div fxLayout="row"
     fxLayout.lt-sm="row wrap"
     fxLayoutAlign="start center"
     class="container">

   <ns-toolbar-edit [model]="model"
                    [service]="service">
   </ns-toolbar-edit>

   <ns-page-list-toolbar-order [model]="model.order"
                               (orderChange)="model.handleOrderChanged()">
   </ns-page-list-toolbar-order>

   <div fxFlex="1 1 auto">
      <ng-container *ngFor="let item of toolBarItems">
         <ng-template [ngTemplateOutlet]="item.templateRef"></ng-template>
      </ng-container>
   </div>

   <ns-search-input *ngIf="model.isSearchVisible"
                    fxFlex="1 1 auto"
                    fxFlex.gt-xs="1 1 30%"
                    [(searchValue)]="model.searchValue"
                    [tooltip]="model.searchTooltip">
   </ns-search-input>
</div>
