\:host
  width: 100%
  height: 100%
  display: flex
  flex-flow: row nowrap
  justify-content: center
  align-items: stretch

  mat-card
    height: 100%
    display: flex
    flex-direction: column

    mat-divider
      position: relative
      width: calc(100% + 32px)
      margin: 0 -16px
      overflow: hidden

    mat-card-content
      flex: 1 1 0
      overflow-y: hidden
      margin: 16px -16px 0 0
      padding: 0 16px 0 0
