<mat-form-field>
   <input [placeholder]="model.label"
          [formControl]="model.dateFormControl"
          [tabIndex]="model.tabIndex"
          readonly
          matInput
          [matDatepicker]="datePicker"
          (click)="model.open(datePicker)"
          [min]="model.minDate"
          [max]="model.maxDate">

   <ns-icon-small [disabled]="!model.canClearValue()"
                  matSuffix
                  [icon]="NsIcon.Navigation_Close"
                  [isClickable]="true"
                  [isFocusable]="false"
                  (mouseup)="model.canClearValue() && model.clearValue()">
   </ns-icon-small>

   <ns-icon-small [disabled]="!model.canChooseDate"
                  matSuffix
                  [icon]="NsIcon.Action_CalendarToday"
                  [isClickable]="true"
                  (mouseup)="model.canChooseDate && datePicker.open()">
   </ns-icon-small>

   <mat-hint *ngIf="model.isHintVisible">{{model.hint}}</mat-hint>

   <mat-error>{{model.errorMessage$ | async}}</mat-error>
</mat-form-field>

<mat-datepicker #dp
                [touchUi]="true">
</mat-datepicker>
