<div *ngIf="model.hasNoItems && hasNoItemsMessage && model.isAddVisible"
     fxLayout="column nowrap"
     fxLayoutAlign="center center"
     class="no-items-container">
   <ns-icon-large [icon]="NsIcon.Content_Add"
                  [isClickable]="true"
                  (click)="service.handleAddRequested()">
   </ns-icon-large>
   <span class="no-items">{{ noItemsMessage }}</span>
</div>

<div fxLayout="row wrap"
     fxLayoutAlign="start stretch"
     fxLayoutGap="16px grid">

   <div *ngFor="let item of model.items$ | async"
        [fxFlex.xl]="xl"
        [fxFlex.lg]="lg"
        [fxFlex.md]="md"
        [fxFlex.sm]="sm"
        [fxFlex.xs]="xs"
        fxLayout="row">

      <mat-card class="ns-page-list-item"
                [ngClass]="item.isSelected ? 'ns-list-item-selected' : 'ns-list-item'"
                (click)="model.handleItemSelected(item)"
                fxFlex="1 1 auto">

         <mat-card-header>
            <mat-card-title>{{item.title}}</mat-card-title>

            <mat-card-subtitle *ngIf="item.subtitle">
               {{item.subtitle}}
            </mat-card-subtitle>
         </mat-card-header>

         <ng-container *ngIf="item.hasDescriptions">
            <mat-divider></mat-divider>

            <mat-card-content>
               <section>
                  <p *ngFor="let description of item.descriptions">
                     {{description}}
                  </p>
               </section>
            </mat-card-content>
         </ng-container>

      </mat-card>
   </div>
</div>
