<ng-container *ngIf="model.isLoggedIn$ | async">
   <ns-icon-normal [icon]="defaultIcon"
                   [matMenuTriggerFor]="menu"
                   [isClickable]="true"
                   [inverse]="true">
   </ns-icon-normal>

   <mat-menu #menu="matMenu">
      <div class="user-information">
         <ns-icon-large class="user-icon-menu"
                        [icon]="defaultIcon">
         </ns-icon-large>

         <div class="user-information-section">
            <span class="mat-title">{{model.fullName$ | async}}</span>

            <span *ngFor="let additionalLine of model.additionalLines$ | async"
                  class="mat-subheading-1">
               {{additionalLine}}
            </span>
         </div>
      </div>

      <mat-divider></mat-divider>

      <localization-languages-menu *ngIf="displayLanguagesPicker">
      </localization-languages-menu>

      <mat-divider></mat-divider>

      <button mat-menu-item
              (click)="service.handleLogOutClick()">
         {{'LogOutButton' | translate }}
      </button>

   </mat-menu>
</ng-container>

<ng-container *ngIf="model.isLoginButtonVisible$ | async">
   <ns-icon-normal [icon]="model.loginIcon"
                   tooltip="{{ 'LoginButton' | translate }}"
                   isClickable="true"
                   (click)="service.handleLoginClick()">
   </ns-icon-normal>

</ng-container>
