<mat-form-field [formGroup]="model.formControl">
   <input type="text"
          [placeholder]="model.label"
          [tabIndex]="model.tabIndex"
          [readonly]="model.hasValue"
          [formControl]="model.textFormControl"
          matInput
          [matAutocomplete]="autocomplete"
          #autocompleteTrigger="matAutocompleteTrigger"
          (focusin)="model.handleInputIsFocused()"
          (keyup)="model.performFullTextSearch($event)">

   <ns-loading-inline-small *ngIf="model.isLoading"
                            matSuffix>
   </ns-loading-inline-small>

   <ns-icon-small [disabled]="!model.canClearValue()"
                  [icon]="NsIcon.Close"
                  [isClickable]="true"
                  matSuffix
                  (click)="model.clearSelection(autocompleteTrigger)">
   </ns-icon-small>

   <mat-hint *ngIf="model.isHintVisible">{{model.hint}}</mat-hint>

   <mat-error>{{model.errorMessage}}</mat-error>
</mat-form-field>

<mat-autocomplete #autocomplete="matAutocomplete">
   <ng-container *ngIf="model.isLoadingInPanelVisible">
      <mat-option [disabled]="true">
         <ns-loading-inline-normal [text]="'Loading' | translate">
         </ns-loading-inline-normal>
      </mat-option>
   </ng-container>

   <ng-container *ngIf="!model.isLoadingInPanelVisible">
      <mat-option *ngFor="let item of model.data$ | async"
                  [value]="item[model.textProperty]"
                  (onSelectionChange)="model.handleOptionSelected(item)">
         {{ item[model.textProperty] }}
      </mat-option>
   </ng-container>
</mat-autocomplete>

