<mat-form-field [formGroup]="model.formGroup">
   <input type="text"
          [placeholder]="model.label"
          [tabIndex]="model.tabIndex"
          [formControl]="model.formControl"
          matInput
          [matAutocomplete]="autocomplete"
          #autocompleteTrigger="matAutocompleteTrigger"
          (focusin)="model.handleInputIsFocused()"
          (keyup)="model.performFullTextSearch($event)">

   <ns-loading-inline-small *ngIf="model.isLoading"
                            matSuffix>
   </ns-loading-inline-small>

   <ns-icon-small [disabled]="!model.canClearValue()"
                  [icon]="NsIcon.Close"
                  [isClickable]="true"
                  [isFocusable]="false"
                  matSuffix
                  (click)="model.clearSelection(autocompleteTrigger)">
   </ns-icon-small>

   <mat-hint *ngIf="model.isHintVisible">{{model.hint}}</mat-hint>

   <mat-error>{{model.errorMessage}}</mat-error>
</mat-form-field>

<mat-autocomplete #autocomplete="matAutocomplete">
   <ng-container *ngIf="model.isLoading">
      <mat-option [disabled]="true">
         <ns-loading-inline-normal [text]="'Loading' | translate">
         </ns-loading-inline-normal>
      </mat-option>
   </ng-container>

   <ng-container *ngIf="model.isLoaded">
      <mat-option *ngFor="let item of model.data$ | async"
                  [value]="item"
                  (onSelectionChange)="model.handleOptionSelected(item)">
         {{ item }}
      </mat-option>
   </ng-container>
</mat-autocomplete>

