<ng-container>
   <button *ngIf="isClickable && !hasContent"
           [disabled]="disabled"
           [ngStyle]="buttonStyle"
           [matTooltip]="tooltip"
           [matTooltipDisabled]="disabledTooltip"
           [tabIndex]="tabIndex"
           mat-icon-button>
      <ng-template [ngTemplateOutlet]="iconTemplate"></ng-template>
   </button>

   <button *ngIf="isClickable && hasContent"
           [disabled]="disabled"
           [ngStyle]="buttonStyle"
           [matTooltip]="tooltip"
           [matTooltipDisabled]="disabledTooltip"
           [tabIndex]="tabIndex"
           mat-button>
      <ng-template [ngTemplateOutlet]="iconTemplate"></ng-template>
   </button>

   <ng-template *ngIf="!isClickable"
                [ngTemplateOutlet]="iconTemplate"></ng-template>
</ng-container>

<ng-template #iconTemplate>
   <mat-icon [ngStyle]="style"
             [ngClass]="css">
      {{icon}}
   </mat-icon>
   <span #content>
    <ng-content></ng-content>
  </span>
</ng-template>
