<div class="ns-container"
     fxLayout="row"
     fxLayout.lt-sm="column"
     fxLayoutAlign="space-between center"
     fxLayoutAlign.lt-sm="center space-between">

   <div *ngIf="hasLogo"
        fxFlex="50"
        fxFlex.lt-sm="30"
        fxLayout="row nowrap"
        fxLayoutAlign="center center">

      <img [src]="logo"
           alt="Application logo">
   </div>

   <div [fxFlex]="flex"
        [fxFlex.lt-sm]="flexLtSm"
        fxLayout="column"
        fxLayoutAlign="center center">
      <h1>{{'NotFoundTitle' | translate }}</h1>
      <p>{{'NotFoundSubTitle' | translate }}</p>
   </div>
</div>
