<mat-form-field>
   <input [type]="model.type"
          [placeholder]="model.label"
          [formControl]="model.formControl"
          [tabIndex]="model.tabIndex"
          [readonly]="model.isDisabled"
          [attr.maxlength]="model.maxLength"
          matInput>

   <ns-icon-small [disabled]="!model.canClearValue()"
                  matSuffix
                  [icon]="NsIcon.Navigation_Close"
                  [isClickable]="true"
                  [isFocusable]="false"
                  (mouseup)="model.canClearValue() && model.clearValue()">
   </ns-icon-small>

   <mat-hint *ngIf="model.isHintVisible">{{model.hint}}</mat-hint>

   <mat-hint *ngIf="model.hasMaxLengthSet"
             align="end">
      {{model.remainingCharacters}}
   </mat-hint>

   <mat-error>{{model.errorMessage$ | async}}</mat-error>
</mat-form-field>
