<div fxLayout="column nowrap">
   <div *ngFor="let week of model.weeks$ | async"
        fxFlex="1 1 0"
        fxLayout="row nowrap"
        fxLayoutAlign="start stretch">

      <div *ngFor="let weekDay of week.days$ | async"
           fxFlex="1 1 0"
           [ngClass]="weekDay.weekDayCssClass"
           (click)="model.handleSelected(weekDay)">
      <span [ngClass]="weekDay.weekDayNumberCssClass">
        {{ weekDay.day }}
      </span>

         <ng-container *ngIf="weekDay.data != null">
            <ng-container *ngTemplateOutlet="dataItemTemplate; context: { $implicit: weekDay.data }">
            </ng-container>
         </ng-container>
      </div>
   </div>
</div>
