<mat-sidenav-container class="ns-toolbar-nav-container">
   <mat-sidenav position="start"
                mode="over"
                [autoFocus]="true"
                [opened]="model.isMenuOpened"
                (opened)="model.handleMenuOpened()"
                (closed)="model.handleMenuClosed()">

      <div *ngIf="logo"
           class="logo-container">
         <img [src]="logo"
              class="sidenav-logo">

         <h2>{{model.pageTitle}}</h2>

         <mat-divider></mat-divider>
      </div>

      <ns-page-toolbar-navigation-items>
      </ns-page-toolbar-navigation-items>
   </mat-sidenav>

   <mat-sidenav-content class="ns-toolbar-nav-container">
      <ng-content></ng-content>
   </mat-sidenav-content>
</mat-sidenav-container>
