<mat-form-field [formGroup]="model.formGroup">
   <mat-label>{{ model.label }}</mat-label>

   <mat-select [formControl]="model.formControl">
      <ng-container *ngIf="model.isLoading">
         <mat-option [disabled]="true">
            <ns-loading-inline-normal [text]="'Loading' | translate">
            </ns-loading-inline-normal>
         </mat-option>
      </ng-container>

      <ng-container *ngIf="!model.isLoading">
         <mat-option *ngFor="let item of model.data$ | async"
                     [value]="item.id">
            {{ item[model.textProperty] }}
         </mat-option>
      </ng-container>
   </mat-select>

   <ns-loading-inline-small *ngIf="model.isLoading">
   </ns-loading-inline-small>

   <mat-hint *ngIf="model.isHintVisible">{{model.hint}}</mat-hint>

   <mat-error>{{model.errorMessage}}</mat-error>
</mat-form-field>
