<ns-loading *ngIf="model.isLoading"></ns-loading>

<mat-card [fxFlex.xl]="xl"
          [fxFlex.lg]="lg"
          [fxFlex.md]="md"
          [fxFlex.sm]="sm"
          [fxFlex.xs]="xs">
   <mat-card-header>
      <mat-card-title>{{pageTitle}}</mat-card-title>
      <mat-card-subtitle *ngIf="model.hasSubtitle">{{model.subtitle}}</mat-card-subtitle>
   </mat-card-header>

   <mat-divider></mat-divider>

   <mat-card-content class="ns-card-content">
      <ns-page-errors [errors]="model.pageErrorMessages">
      </ns-page-errors>

      <ns-form (keydown)="service.checkKeyPress($event)">
         <ng-content>
         </ng-content>
      </ns-form>
   </mat-card-content>

   <mat-card-actions align="end">
      <ns-button-default [model]="model.negativeButton"
                         (click)="service.handleCancelClicked()"
                         class="not-last-button">
      </ns-button-default>

      <ns-button-raised [model]="model.positiveButton"
                        (click)="service.handleSaveClicked()">
      </ns-button-raised>
   </mat-card-actions>
</mat-card>
