<mat-form-field [formGroup]="model.formGroup">
   <input type="number"
          [placeholder]="model.label"
          [formControl]="model.numberTextFormControl"
          [tabIndex]="model.tabIndex"
          [readonly]="model.isDisabled"
          [min]="model.minValue"
          [max]="model.maxValue"
          [step]="model.step"
          matInput>

   <ns-icon-small [disabled]="!model.canClearValue()"
                  matSuffix
                  [icon]="NsIcon.Close"
                  [isClickable]="true"
                  [isFocusable]="false"
                  (click)="model.canClearValue() && model.clearValue()">
   </ns-icon-small>

   <mat-hint *ngIf="model.isHintVisible">{{model.hint}}</mat-hint>

   <mat-error>{{model.errorMessage}}</mat-error>
</mat-form-field>
